DATABASE_NAME="acontext"
DATABASE_USER="acontext"
DATABASE_PASSWORD="helloworld"
DATABASE_LOCATION="./db/pg/"
REDIS_PASSWORD="helloworld"
REDIS_LOCATION="./db/redis/"
RABBITMQ_USER="acontext"
RABBITMQ_PASSWORD="helloworld"
RABBITMQ_LOCATION="./db/rabbitmq/"

API_EXPORT_PORT="8029"


